@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1>Music App</h1>
    <div class="col-md-4">
        <p><a href="~/Playlists/Index" class="btn btn-primary btn-lg btn-block">View Playlists&raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Albums</h2>
        <p><a href="~/Albums/Index" class="btn btn-primary btn-lg btn-block">View Albums&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Genres</h2>
        <p><a href="~/Genres/Index" class="btn btn-primary btn-lg btn-block">View Genres&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Artists</h2>
        <p><a href="~/Artists/Index" class="btn btn-primary btn-lg btn-block">View Artists&raquo;</a></p>
    </div>
</div>